

<div id="categories-list" class="row list-group">

	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

	</div>

	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
		<div class="input-group">
			<div class="input-group-addon">Buscar</div>
			<input class="form-control input-lg" type="text" placeholder="Produto...">
	    </div>
	    </br>

		<div ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">

	        <div class="item col-xs-12 col-sm-6 col-md-3 col-lg-2">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x450/A9A9A9/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading"><strong>Product title</strong></h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... </p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
	                            <p class="lead">$21.000</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
	                            <a class="btn btn-success" href="#">Detalhes</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	    </div>
	</div>




</div>